{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <div class="header-content">
        <a href="{% url 'index' %}"><h1>Кинотеатр</h1></a>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="/movies">Фильмы</a></li>
                <li><a href="/directors">Режиссеры</a></li>
                <li><a href="/actor">Актеры</a></li>
                <li><a href="/admin">Админ панель</a></li>
                <li><a href="/register">Регистрация</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Кинотеатр.</p>
</footer>
</body>
</html>
