{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <div class="header-content">
        <li><a href="{% url 'index' %}"><h1>Кинотеатр</h1></a></li>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'index' %}">Фильмы</a></li>
                <li><a href="{% url 'index' %}">Режиссеры</a></li>
                <li><a href="{% url 'index' %}">Актеры</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block content %}
    <!-- Основной контент страницы будет здесь -->
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Кинотеатр.</p>
</footer>
</body>
</html>
