{% extends 'cinema/base.html' %}

{% block title %}Детали Фильма: {{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-details-container">
    <h2>Детали Фильма:</h2>
    <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster">
    <p><strong>Фильм:</strong> {{ movie.title }}</p>

    <p><strong>Режиссер:</strong> {{ movie.director.name }}</p>
    {% if movie.actor.exists %}
        <p><strong>Актеры:</strong></p>
        <ul>
            {% for actor in movie.actor.all %}
                <li>{{ actor.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>Актеры:</strong> Нет информации об актерах.</p>
    {% endif %}
    <p><strong>Краткое описание:</strong> {{ movie.description }}</p>
</div>
{% endblock %}
