{% extends 'cinema/base.html' %}

{% block title %}Сеансы для {{ movie.title }}{% endblock %}

{% block content %}
<h2>Сеансы для {{ movie.title }}</h2>
<ul>
    {% for session in sessions %}
        <li>
            <p><strong>Время:</strong> {{ session.time }}</p>
            <p><strong>Зал:</strong> {{ session.hall }}</p>
            <a href="{% url 'session_detail' session.pk %}">Подробнее</a>
            <a href="{% url 'book_ticket' session.pk %}">Забронировать билет</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
