{% extends 'cinema/base.html' %}

{% block title %}Список Фильмов - Кинотеатр{% endblock %}

{% block content %}
<h1>Список Фильмов</h1>
<div class="movies-container">
    {% for movie in movies %}
    <div class="movie-card">
        {% if movie.pk %}
            <a href="{% url 'movie_detail' movie.pk %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                <p>{{ movie.title }}</p>
            </a>
        {% else %}
            <div>
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                <p>{{ movie.title }} (нет информации о фильме)</p>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
