body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Это обеспечивает, чтобы контейнер body занимал всю высоту окна браузера */
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1; /* Это делает основной контент (main) растяжимым, чтобы занимать все оставшееся пространство */
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    flex-shrink: 0; /* Это предотвращает сжатие футера, когда контент небольшой */
}

.actors-container {
    display: flex;
    flex-wrap: wrap; /* Разрешает перенос элементов на новую строку, если они не помещаются */
    gap: 20px; /* Промежуток между элементами */
}

.actor-card {
    width: calc(25% - 20px); /* Ширина каждой карточки актера (25% - промежуток) */
    margin-bottom: 20px;
    display: inline-block; /* Отображаем карточки в строку */
    text-align: center;
}

.actor-card a {
    text-decoration: none;
    color: #333;
    display: block; /* Делаем ссылку блочным элементом, чтобы можно было управлять размерами изображения */
    width: 100%;
    height: 250px; /* Фиксированная высота карточки актера */
    border-radius: 8px;
    overflow: hidden; /* Обрезаем изображения, чтобы они не выходили за рамки блока */
    position: relative; /* Добавляем позиционирование для текста */
}

.actor-card img {
    width: 100%; /* Изображение займет всю ширину блока-ссылки */
    height: 100%; /* Изображение займет всю высоту блока-ссылки */
    object-fit: cover; /* Заполняем блок изображением, сохраняя пропорции */
    border-radius: 8px; /* Закругляем углы изображения */
}

.actor-card p {
    position: absolute; /* Позиционируем текст относительно блока ссылки */
    bottom: 0; /* Размещаем текст внизу блока ссылки */
    left: 0; /* Выравниваем текст слева */
    width: 100%; /* Занимаем всю ширину блока ссылки */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    margin: 0; /* Убираем отступы */
    padding: 10px; /* Добавляем внутренние отступы */
    color: #fff; /* Цвет текста белый */
    opacity: 0; /* Делаем текст невидимым по умолчанию */
    transition: opacity 0.3s ease; /* Добавляем плавный переход для анимации */
}

.actor-card:hover p {
    opacity: 1; /* При наведении делаем текст видимым */
}


.movies-container {
    display: flex;
    flex-wrap: wrap; /* Разрешает перенос элементов на новую строку, если они не помещаются */
    gap: 20px; /* Промежуток между элементами */
}

.movie-card {
    width: calc(25% - 20px); /* Ширина каждой карточки актера (25% - промежуток) */
    margin-bottom: 20px;
    display: inline-block; /* Отображаем карточки в строку */
    text-align: center;
}

.movie-card a {
    text-decoration: none;
    color: #333;
    display: block; /* Делаем ссылку блочным элементом, чтобы можно было управлять размерами изображения */
    width: 100%;
    height: 350px; /* Фиксированная высота карточки  */
    border-radius: 8px;
    overflow: hidden; /* Обрезаем изображения, чтобы они не выходили за рамки блока */
    position: relative; /* Добавляем позиционирование для текста */
}

.movie-card img {
    width: 100%; /* Изображение займет всю ширину блока-ссылки */
    height: 100%; /* Изображение займет всю высоту блока-ссылки */
    object-fit: cover; /* Заполняем блок изображением, сохраняя пропорции */
    border-radius: 8px; /* Закругляем углы изображения */
}

.movie-card p {
    position: absolute; /* Позиционируем текст относительно блока ссылки */
    bottom: 0; /* Размещаем текст внизу блока ссылки */
    left: 0; /* Выравниваем текст слева */
    width: 100%; /* Занимаем всю ширину блока ссылки */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    margin: 0; /* Убираем отступы */
    padding: 10px; /* Добавляем внутренние отступы */
    color: #fff; /* Цвет текста белый */
    opacity: 0; /* Делаем текст невидимым по умолчанию */
    transition: opacity 0.3s ease; /* Добавляем плавный переход для анимации */
}

.movie-card:hover p {
    opacity: 1; /* При наведении делаем текст видимым */